{% load static %}

<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>СОС - {% block meta_title %}{% endblock meta_title%}</title>
    <meta name="description"
          content="Система Обліку Студентів Навчального Закладу">

    <!--Include Styles-->

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{{PORTAL_URL}}{% static 'css/newmain.css' %}">

    {% block extra_css %}{% endblock extra_css %}

</head>
<body>

<!-- Start Container -->
<div class="container">

    <!-- Start Header -->
    <div class="row mt-3" id="header">

        {% block change_logo %}
        <!-- Logo -->
        <div class="col-sm-8">
            <h1>Сервіс Обліку Студентів</h1>
        </div>
        {% endblock change_logo %}

        {% block change_stud_menu %}
        <!-- Group Selector -->
        <div class="col-sm-4 d-flex" id="group-selector">
            <label for="group"><strong>Група:</strong></label>
            <select class="custom-select" name="group" id="group">
                <option value="">Усі Студенти</option>
                <option value="">ФЕІ-21, Старжевський Денис</option>
                <option value="">ФЕІ-21, Вовчак Валентин</option>
            </select>
        </div>
        {% endblock change_stud_menu %}
    </div>
    <!-- End Header  -->


    {% url 'home' as home_url %}    <!-- Змінні Шаблонізатора -->
    {% url 'groups' as groups_url %}
    {% url 'contact_admin' as contact_admin_url %}

    <!-- Start SubHeader -->
    <div class="row" id="sub-header">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if home_url == request.path %}active{% endif %}" href="{% url 'home' %}?order_by=last_name">Студенти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'journal/' in request.path %}active{% endif %}" href="/journal">Відвідування</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if groups_url in request.path %}active{% endif %}" href="{% url 'groups' %}?order_by=title">Групи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if contact_admin_url in request.path %}active{% endif %}"
                       href="{% url 'contact_admin' %}">Контакт</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End SubHeader -->

    <!-- Start Main Page Content -->
    <div class="row" id="content-columns">

        <div class="col-sm-12" id="content-column">

            <!-- Status Message -->
            {% block status_message %}
                {% if request.GET.status_message %}
                    <div class="alert alert-{% if request.GET.alert %}{{request.GET.alert}}{% else %}warning{% endif %}" role="alert">
                        {{request.GET.status_message}}
                    </div>
                {% endif %}
            {% endblock status_message %}

            <h2 class="my-3">{% block title %}{% endblock title%}</h2>

            {% block content %}{% endblock content %}


         </div>

    <!-- End Students Listing -->

    </div>


    <!-- End Main Page Content -->

    {% block change_footer %}
    <!-- Start Footer -->
    <div class="row" id="footer">
        <div class="col-sm-12">
            2020 Сервіс Обліку Студентів
        </div>
    </div>
    <!-- End Footer -->
    {% endblock change_footer %}

</div>
<!-- End Container -->


<!--Javascript Section-->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock extra_js %}

</body>
</html>