/* GLOBAL STYLES */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

#group-row, #name-row,
#last-name-row, #birthday-row,
#text-row{
    align-items: center;
    font-family: inherit;
}


#group {
    max-width: 212px;
}


#input-group-prepend {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.custom-file {
    max-width: 202px;
}

#birthday {
    min-width: 210px;

}

#text:focus{
    box-shadow: grey 3px 3px 10px;
}

.container {
    /*max-width: 700px;*/
    max-width: 720px;
}

