/* GLOBAL STYLES */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

#group-row, #name-row,
#last-name-row, #birthday-row{
    align-items: center;
}


#group {
    max-width: 212px;
}

#photo-info-label{
    /*border: 1px solid grey;*/
    /*height: 10px;*/
}

#input-group-prepend {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.custom-file {
    max-width: 202px;
}

#birthday {
    min-width: 210px;
}





